{# Template list.html.twig for Sucursales #}
{# -------------------------------------------------------#}
{% extends 'Sucursales/index.html.twig' %}

{% block listado %}
<div class='Listado'>

        <table width='100%'>
            <tr class='Titulos'>
                <td class='Item'>Nombre</td>
                <td class='Item'>Poblacion</td>
                <td class='Item'>Provincia</td>
            </tr>

            <tbody class="Cuerpo">
            {% for key,objeto in values.listado.data %}
            <tr class="ItemListado">
                <td><a href="{{app.path}}/Sucursales/edit/{{objeto.IDSucursal}}/{{objeto.IDEmpresa.IDEmpresa}}" title="Editar...">{{objeto.Nombre}}</a></td>
                <td>{{objeto.Poblacion}}</td>
                <td>{{objeto.IDProvincia}}</td>
            </tr>
            {% else %}
            <tr><td colspan='2'>No hay información que cumpla esos criterios</td></tr>
            {% endfor %}
            </tbody>
        </table>

</div>
{% endblock %}