{# TEMPLATE Perfiles/form.html.twig #}
{# Muestra los campos editables de la entidad        #}

{% import '_global/macros.html.twig' as macro %}

{{ macro.input('Perfil','Etiqueta','text','Perfiles[Perfil]','Perfiles_Perfil',datos.Perfil,'50','CampoTextoLargo') }}
{{ macro.input('Descripción','Etiqueta','text','Perfiles[Descripcion]','Perfiles_Descripcion',datos.Descripcion,'255','CampoTextoLargo') }}
{{ macro.select('Administrador','Etiqueta','Perfiles[Administrador]','Perfiles_Administrador',none,datos.Administrador,datos.Administrador.fetchAll,'Select') }}

    {% if datos.IDPerfil %}

    <div style='margin-top:15px;width:98%;'>
    <iframe width="100%" height="350" scrolling="yes" style="border: 1px dotted grey;"
        src="{{app.path}}/Permisos/listopciones/{{datos.IDPerfil}}">
    </iframe>
    </div>

    {% endif %}