{# Desplegale con los formatos de documentos #}

{% extends '_Emergente/index.html.twig' %}

{% block listado %}

{% if values.numeroDeFormatos == 1 %}
<script language='JavaScript' type='text/javascript'>
    window.open('{{app.path}}/{{values.controlador}}/Imprimir/{{values.idDocumento}}/{{values.tipoDocumento}}/{{values.formatos[0].Id}}','Documento');
</script>
{% endif %}

{% if values.numeroDeFormatos > 1 %}
<div class="FormManto">
    <form name="manto" action="" method="POST">
        <input name="controller" value="{{values.controlador}}" type="hidden" />
        <input name="action" id="action" value="Imprimir" type="hidden" />
        <input name="tipoDocumento" id="tipoDocumento" value="{{values.tipoDocumento}}" type="hidden" />
        <input name="idDocumento" id="idDocumento" value="{{values.idDocumento}}" type="hidden" />
        <div class='Cuerpo'>
            <div style="float:left;">
                {{ macro.select('Formato:','Etiqueta','formato','formato',none,'',values.formatos,'Select') }}
            </div>
            <div style="float: left;">
                <input class="Comandos" type="submit" value="Imprimir"/>
            </div>
        </div>
    </form>
</div>
{% endif %}

{% if values.numeroDeFormatos == 0 %}
<div class="MensajeError">
    <p class="TituloError">No se han definido formatos para este documento, o bien no tiene permisos.</p>
</div>
{% endif %}
{% endblock %}