{# _Emergente/HistoricoVentas.html.twig #}

{% extends '_Emergente/index.html.twig' %}

{% block listado %}
<div style="margin: 5px; border: solid 1px grey; padding: 5px;">
    <div class="FormManto">
    <form name="consulta" action="" method="POST">
        <input name="controller" value="_Emergente" type="hidden" />
        <input name="action" id="action" value="HistoricoVentas" type="hidden" />
        <div class="Cuerpo">
        <p style="text-align: center; font-weight: bold; color: #BDE5F8; background-color: #00529B; margin-bottom: 10px; padding: 5px;">Histórico de Ventas</p>
        <div class="Item" id="div_idArticulo">
            <div style="float: left; width: 50px; font-size: 11px;">Artículo</div>
            <input name="idArticulo" id="idArticulo" value="{{values.datos.articulo.IDArticulo}}" type="hidden" />
            <input value="{{values.datos.articulo.Descripcion}}" id="Descripcion" type="text" maxlength="50" class="CampoTextoLargo"
                   onkeyup="autoCompletar('Descripcion','idArticulo','Descripcion','articulos','','');"/>
        </div>

        <div style="clear: both;"></div>

        <div class="Item" id="div_idCliente" style="margin-top: 3px;">
            <div style="float: left; width: 50px; font-size: 11px;">Cliente</div>
            <input name="idCliente" id="idCliente" value="{{values.datos.cliente.IDCliente}}" type="hidden" />
            <input value="{{values.datos.cliente.RazonSocial}}" id="RazonSocial" type="text" maxlength="50" class="CampoTextoLargo"
                   onkeyup="autoCompletar('RazonSocial','idCliente','RazonSocial','clientes',{{suc}},'');"/>
            <input type="image" src="{{app.path}}/images/lupa.png" width="16px" height="16px" alt="Consultar" title="Consultar"/>
        </div>
        
        <div style="clear: both; margin: 5px;"></div>
        <hr>
        <p>Unidades Vendidas: {{values.datos.unidades}}</p>
        <p>Precio Medio: {{values.datos.precioMedio}} €</p>
        </div>
    </form>
    </div>
</div>

{% if values.listado %}
<div class="Listado" style="margin: 5px;">
    <table width="100%">
        <tr class="Titulos">
            <td class="Item">Albarán</td>
            <td class="Item">Fecha</td>
            <td class="Item">Unidades</td>
            <td class="Item">Precio</td>
            <td class="Item">Dcto</td>
            <td class="Item">Importe</td>
            <td class="Item">&nbsp;</td>
        </tr>

        <tbody class='Cuerpo'>
        {% for linea in values.listado %}
            <tr>
                <td style="width: 60px;">
                    <a href="javascript:;" title="Ver Albarán" onClick="window.open('{{app.path}}/AlbaranesCab/edit/{{linea.IDAlbaran}}','Albaran','resizable=yes,scrollbars=yes')">{{linea.NumeroAlbaran}}</a>
                </td>
                <td style="width: 70px; text-align: right;">{{linea.Fecha}}</td>
                <td style="width: 60px; text-align: right;">{{linea.Unidades}}</td>
                <td style="width: 70px; text-align: right;">{{linea.Precio}}</td>
                <td style="width: 60px; text-align: right;">{{linea.Descuento}}%</td>
                <td style="width: 70px; text-align: right;">{{linea.Importe}}</td>
                <td>
                {% if linea.IDPromocion.IDPromocion %}
                    {% include "_Emergente/dialogoPromocion.html.twig" with {'linea': linea} %}
                {% endif %}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% endif %}

{% endblock %}