{# FILTRO GENERICO: SON LOS CAMPOS QUE SE INCLUYEN EN EL FORMULARIO DE FILTRO #}

<div>
    <div style="float:left;">
        Buscar por:
        <select name="filter[columnsSelected][0]">
        {% for index,column in filter.columns %}
            <option value="{{ index }}" {% if (index == filter.columnsSelected[0])%} SELECTED {%endif%}>{{column}}</option>
        {% endfor %}
        </select>
        Valor (%): <input name="filter[valuesSelected][0]" id="filter[valuesSelected][0]" value="{{ filter.valuesSelected.0 }}" type="text" size="20"/>
    </div>

    {% if filter.aditional %}
        <div style="float: left; margin-left: 5px;">
            <img src="{{app.path}}/images/more.png" width="14px" height="14px" style="cursor: pointer;"
                 onclick="getElementById('FiltrosAdicionales').style.display='';"
                 alt="Filtro Avanzado" title="Filtro Avanzado ...">
        {% include "_global/filtroAvanzado.html.twig" with {'titulo': values.titulo} %}
        </div>
    {% endif %}

    <div style="float:right;">
        Orden:
        <select name="filter[orderBy]">
        {% for criterio in filter.columnsOrder %}
            <option value="{{ criterio.criteria }}" {% if (criterio.criteria == filter.orderBy)%} SELECTED {%endif%}>{{criterio.title}}</option>
        {% endfor %}
        </select>

        Mostrar:
        <input name="filter[recordsPerPage]" type="text" size="3" value="{{ filter.recordsPerPage }}" style="width:25px;"/>

        <input name="filter[page]" value="1" type="hidden"/>
        <input style="margin-left: 5px;" type="image" src="{{app.path}}/images/lupa.png" width="16px" height="16px" alt="Consulta" title="Consultar"
               onclick="$('#div_listado').html('<div class=ListadoAnimation><img src={{app.path}}/images/loadingAnimation.gif /></div>');"/>
    </div>
    <div style="clear:both;"></div>
</div>

{{ macro.foco('filter[valuesSelected][0]') }}