{% import "_global/macros.html.twig" as macro %}

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="es-ES" lang="es-ES">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <link type="text/css" rel="stylesheet" href="{{app.path}}/css/menuazulgris.css" />
        <link type="text/css" rel="stylesheet" href="{{app.path}}/css/contenedor.css" />
        <link type="text/css" rel="stylesheet" href="{{app.path}}/css/formularios.css" />
        <link type="text/css" rel="stylesheet" href="{{app.path}}/css/notificaciones.css" />
        <link type="text/css" rel="stylesheet" href="{{app.path}}/css/jquery-autocompletar.css" />
        <link type="text/css" rel="stylesheet" href="{{app.path}}/css/thickbox.css" media="screen" />

        <script type="text/javascript" src="{{app.path}}/js/tabber.js"></script>
        <script type="text/javascript" src="{{app.path}}/js/jquery.js"></script>
        <script type="text/javascript" src="{{app.path}}/js/script.js"></script>
        <script type="text/javascript" src="{{app.path}}/js/thickbox.js"></script>
        <script type="text/javascript" src="{{app.path}}/js/popcalendar.js"></script>

        <title>.: {{ app.name }} {% block title %} {{ titulo }} {% endblock %}</title>
</head>
<body>
    <div id="pgWidth">

        <div id="Header">
        {% block header %}
            <div id="Head">
            {% if emp %}
            <div id="headleft">
                <a href="{{app.path}}/Index"><img src="{{app.path}}/docs/docs{{emp}}/images/logo.jpg" border="0" width="59" height="59" alt="Logo Empresa"/></a>
            </div>
            {% endif %}

            <div id="headcenter">
                <form name="empresa" action="" method="post">
                <input name="controller" value="Index" type="hidden" />
		<input name="action" value="" type="hidden" />
                <div style="float:left;">
                {{ macro.select('Empresa','Etiqueta','Empresa','Empresa',none,emp,user.empresas,'Select',none,'CambiaEmpresa()') }}
                </div>
                <div style="float:left;margin-left:20px;">
                {% if emp %}
                    {{ macro.select('Sucursal','Etiqueta','Sucursal','Sucursal',none,suc,user.sucursales,'Select',none,'CambiaSucursal()') }}
                {% endif %}
                </div>
                </form>
            </div>

            <div id="headright">
                <h4>{{user.user.Nombre}}</h4>
                <a href="{{app.url}}/portal" class="logout">Salir</a>
            </div>
            </div>
        {% endblock %}
            <div style="clear: both;"></div>
        {% block menu %}
            {% include "_global/menuAzulGris.html.twig" with {'menu':user.menu} %}
        {% endblock %}

        </div>
    </div>

    <div id="Layout">
        {% block content %}
        {% endblock %}
    </div>

    <div id="notificacion"></div>

    <div id="Footer">
        <div id="footleft">
            <div class="debug">
            {% if values._debugMode %}
                <pre>{{values._debugValues}}</pre>
            {% endif %}
            </div>
        </div>

        <div id="footright">
            &copy; Powered by ALBATRONIC, SL 2011
        </div>
        <div style="clear:both;"></div>
    </div>
</body>
</html>
