{# LISTADO GENERICO listGenerico.html.twig                #}
{# ES INCLUIDO POR LOS list.html.twig DE CADA CONTROLADOR #}

<table width='100%'>
    <tr class='Titulos'>
        <td width='16px'>&nbsp;</td>
        {% for title in listado.titles %}
            <td class='Item'>{{ title.title }}</td>
	{% endfor%}
    </tr>

    <tbody class='Cuerpo'>
    {% for key,objeto in listado.data %}
        <tr>
            <td>
                <a href='{{app.path}}/{{controller}}/Edit/{{objeto.getPrimaryKeyValue()}}' title='Editar ...'>
                    <img src="{{app.path}}/images/botoneditar.png" border='0'/>
                <a>
            </td>
            {% for field,value in listado.titles %}
            {% if (value.type == 'decimal') %}
                {% set align = 'right' %}
            {% else %}
                {% set aling = 'left' %}
            {% endif %}
            <td class='Item' align='{{align}}'>
            {% if value.link.route %}
                <a class="thickbox" title="{{value.link.title}}" href="{{app.path}}/{{value.link.route}}/{{objeto.getPrimaryKeyValue()}}/?TB_iframe=true&height=430&width=1000">
                    {{objeto.getColumnValue(field,value.length)}}
                </a>
            {% else %}
                {{objeto.getColumnValue(field,value.length)}}
            {% endif%}
            </td>
            {% endfor %}
	</tr>
	{% else %}
	<tr><td colspan='8'>No hay información que cumpla esos criterios</td></tr>
    {% endfor %}
    </tbody>
</table>
