
{# label: MUESTRA UN <DIV> CONTENIENDO EL TEXTO value Y APLICANDO LA CLASE class #}
{# ----------------------------------------------------------------------------- #}
{% macro label(value,class) %}
<div class="{{ class|default('Etiqueta') }}">{{ value }}</div>
{% endmacro %}

{# input: MUESTRA UN <INPUT> #}
{# ------------------------- #}
{% macro input(label,classLabel, type, name, id, value, maxLength, class, extra, onchange) %}
<div class="Item" id="div_{{id}}">
    {% if label %}
        {{ _self.label(label,classLabel) }}
    {% endif %}
    <input type="{{ type|default('text') }}" name="{{ name }}" id="{{ id|default(name)}}"
           value="{{ value }}" maxlength="{{ maxLength|default(20) }}"
           class="{{ class }}" {{extra}} onchange="{{ onchange }}"/>
</div>
{% endmacro %}

{# cc: CUENTA CORRIENTE #}
{# -------------------- #}
{% macro cc(label,classLabel,entidad,banco,oficina,digitoControl,cuentaCorriente) %}
<div class="Item" id="div_{{id}}">
    {% if label %}
        {{ _self.label(label,classLabel) }}
    {% endif %}
    <input type="text" name="{{entidad}}[IDBanco]" id="{{entidad}}_IDBanco"
           value="{{ banco }}" maxlength="4" class="CampoBanco"
    />-
    <input type="text" name="{{entidad}}[IDOficina]" id="{{entidad}}_IDOficina"
           value="{{ oficina }}" maxlength="4" class="CampoOficina"
    />-
    <input type="text" name="{{entidad}}[Digito]" id="{{entidad}}_Digito"
           value="{{ digitoControl }}" maxlength="2" class="CampoDigitoControl"
    />-
    <input type="text" name="{{entidad}}[Cuenta]" id="{{entidad}}_Cuenta"
           value="{{ cuentaCorriente }}" maxlength="10" class="CampoCuentaCorriente"
    />
</div>
{% endmacro %}

{# etiqueta: MUESTRA UNA ETIQUETA NO EDITABLE #}
{# ------------------------------------------ #}
{% macro etiqueta(label, classLabel, text, classText) %}
<div class="Item" id="div_{{id}}">
    {% if label %}
        {{ _self.label(label,classLabel) }}
    {% endif %}
    <p class="{{ classText|default('Literal') }}">{{ text }}</p>
</div>
{% endmacro %}

{# cif: MUESTRA UN <INPUT> #}
{# ------------------------- #}
{% macro cif(label,classLabel, type, name, id, value, class) %}
<div class="Item" id="div_{{id}}">
    {% if label %}
        {{ _self.label(label,classLabel) }}
    {% endif %}
    <input type="{{ type|default('text') }}" name="{{ name }}"  id="{{ id|default(name)}}"
           value="{{ value }}" class="{{ class }}" maxlength="15"
           onchange="ValidaNif('manto','{{name}}');" />
</div>
{% endmacro %}

{# textarea: MUESTRA UN <TEXTAREA> #}
{# ------------------------------- #}
{% macro textarea(label, classLabel, name, id, value, rows, cols, class) %}
<div class="Item" id="div_{{id}}">
    {% if label %}
        {{ _self.label(label,classLabel) }}
    {% endif %}
    <textarea name="{{ name }}" id="{{ id|default(name)}}"
              rows="{{ rows|default(10) }}"
              cols="{{ cols|default(10) }}"
              class="{{ class }}">
        {{value}}
    </textarea>
</div>
{% endmacro %}

{# select: MUESTRA UN <SELECT> #}
{# --------------------------- #}
{% macro select(label, classLabel, name, id, size, defecto, opciones, class, popup, onchange) %}
<div class="Item" id="div_{{id}}">
    {% if label %}
        {{ _self.label(label,classLabel) }}
    {% endif %}
    <select name="{{ name }}" id="{{ id|default(name)}}" size="{{ size|default(1) }}" class="{{ class }}" onchange="{{onchange}}" >   
        {% for value in opciones %}
            <option value="{{ value.Id }}" {% if (value.Id==defecto) %} SELECTED {%endif%}>
                {{value.Value}}
            </option>
        {% endfor %}
    </select>
    {% if popup %}
        {{ _self.linkimg(popup) }}
    {% endif %}
</div>
{% endmacro %}

{# selectSN: MUESTRA UN <SELECT> CON LOS VALORES POSIBLES: Si,No #}
{# ------------------------------------------------------------- #}
{% macro selectSN(label, classLabel, name, id, size, defecto, class) %}
{% set values_SN = {'0': 'No', '1': 'Si'} %}
<div class="Item" id="div_{{id}}">
    {% if label %}
        {{ _self.label(label,classLabel) }}
    {% endif %}
    <select name="{{ name }}" id="{{ id|default(name)}}" size="{{ size|default(1) }}" class="{{ class }}">
        {% for key,value in values_SN %}
            <option value="{{ key }}" {% if (key==defecto) %} SELECTED {%endif%}>{{value}}</option>
        {% endfor %}
    </select>
</div>
{% endmacro %}

{# img: MUESTRA UNA IMAGEN #}
{% macro img(url,width,height,alt) %}
    <img src="{{ url }}" width="{{ width|default('') }}" border="0" alt="{{alt|default('Image')}}"/>
{% endmacro%}

{# linkimg: MUESTRA UN LINK CON LUPA COMO IMAGEN #}
{# opciones es un array:
        Elemento 0 : app.path
        Elemento 1 : El nombre del controlador
        Elemento 2 : El titulo de la ventana que se mostrará
        Elemento 3 : Ancho de la ventana
        Elemento 4 : Alto de la ventana
#}
{% macro linkimg(opciones) %}
    {#<a href="javascript:;" onClick="window.open('{{app.path}}/{{controller}}/list','{{controller}}','width=590,height=400,resizable=yes,scrollbars=yes')"><img src="{{app.path}}/images/lupa.png" border="0" alt="Editar..."></a>#}
    <a class="thickbox" title= "{{ opciones[2]|default("Ventana") }}" href="{{opciones[0]}}/{{opciones[1]}}/list/?TB_iframe=true&height={{ opciones[3]|default("500") }}&width={{ opciones[4]|default("600") }}"><img src="{{opciones[0]}}/images/lupa.png" border="0" alt="Editar..."></a>
{% endmacro%}

{# fecha: MUESTRA UN INPUT DE TIPO FECHA. UTILIZA UN POPUP DE CALENDARIO #}
{% macro fecha(label,classLabel,name,id,value,size,class,extra) %}
<div class="Item">
{% if label %}
    {{ _self.label(label,classLabel) }}
{% endif %}
    <input name="{{name}}" type="text" id="{{id|default(label)}}" value="{{value}}"
           onFocus="popUpCalendar(this, {{ id|default(label) }}, 'dd/mm/yyyy');"
           size="{{ size|default("10")}}" class="{{ class|default("calendario")}}" {{extra}}/>
</div>
{% endmacro %}

{# foco: PONE EL FOCO EN EL ID INDICADO #}
{% macro foco(id) %}
<script language='JavaScript' type='text/javascript'>
document.getElementById('{{id}}').focus();
</script>
{% endmacro %}

{# botonThickBox: ABRE UNA VENTANA THICKBOX RENDERIZANDO EL RESULTADO DEL CONTROLADOR Y ACTION INDICADO EN RUTA #}
{% macro botonThickBox(path,ruta,ventanaTitulo,ventanaAlto,ventanaAncho)%}
<a class="thickbox" title= "{{ventanaTitulo|default("Informe")}}" href="{{path}}/{{ruta}}/?TB_iframe=true&height={{ ventanaAlto|default("500") }}&width={{ ventanaAncho|default("600") }}">
    <img src="{{path}}/images/botonreport.png" border="0" alt="{{ventanaTitulo}}">
</a>
{% endmacro %}

{# botonDocumento: ABRE UNA VENTANA THICKBOX MOSTRANDO LOS POSIBLES FORMATOS DEL DOCUMENTO #}
{% macro botonDocumento(path,documento,controller,id)%}
<a href="javascript:;" title= "Imprimir" onclick="window.open('{{path}}/_Emergente/formatosDocumentos/{{documento}}/{{controller}}/{{id}}','Documento','width=690,height=600,status=false,resizable=1');">
    <img src="{{path}}/images/print_cmd.png" border="0" alt="Imprimir">
</a>
{% endmacro %}