{#-- MENU DESPLEGABLE: Necesita menunegro.css ----------------------------------#}
{# Recibe un array (menu) con dos dimensiones para contruir el menu desplegable #}
{#------------------------------------------------------------------------------#}

<!--MENU-->
<div id='wrapper'>
    <div id="main-nav">
	<ul id="menu-main-menu" class="sf-menu">
	{% for titulo,subopciones in menu %}
            <li id="menu-item-2515">
                <a href='#'>{{ titulo }}</a>

        	<ul class='sub-menu'>
                {% for subopcion in subopciones %}
                    <li id="menu-item-815">
                        <div style="float: left; width: 23px;">
                            <a href='{{app.path}}/{{ subopcion.route }}' target='_blank' title='Ventana Nueva'><img src='{{app.path}}/images/bolamenu.png' width='10px'  /></a>
                        </div>
                        <div style="float: left;">
                            <a href='{{app.path}}/{{ subopcion.route }}'>{{ subopcion.titulo }}</a>
                        </div>
                    </li>
                {% endfor %}
                </ul>

            </li>
	{% endfor %}
	</ul>
    </div>
</div>
<!-- FIN MENU-->