{% if filter.pages != 0 %}
    <form name="paginacion{{position}}" id="paginacion{{position}}" class="Paginacion-{{position}}" action="" method="POST">
    Página {{filter.page}} de {{filter.pages}} ({{filter.records}} registros) &nbsp;
    {% if filter.page != 1 %}
         <input type="image" name="primera"  onClick="$('#Listado').html('<div class=ListadoAnimation><img src={{app.path}}/images/loadingAnimation.gif /></div>');document.getElementById('filter[page{{position}}]').value=1;"  src="{{app.path}}/images/primero1.gif" alt="Primero"/>
         <input type="image" name="atras" onClick="$('#Listado').html('<div class=ListadoAnimation><img src={{app.path}}/images/loadingAnimation.gif /></div>');document.getElementById('filter[page{{position}}]').value={{filter.page-1}};" src="{{app.path}}/images/anterior1.gif" alt="Anterior"/>
    {%else%}
        <img src="{{app.path}}/images/primero0.gif" width="10px" height="12px" />
        <img src="{{app.path}}/images/anterior0.gif" width="10px" height="12px" />
    {%endif%}

    <select id="pagina" onChange="$('#Listado').html('<div class=ListadoAnimation><img src={{app.path}}/images/loadingAnimation.gif /></div>');
        document.getElementById('filter[page{{position}}]').value=pagina.value;submit();" >
        {% for i in range(1, filter.pages, 1) %}
        <option value ="{{ i }}" {% if( i == filter.page)%} selected {%endif%} >{{i}}</option>
        {% endfor %}
    </select>

    {% if filter.page != filter.pages %}
        <input type="image" name="siguiente" onClick="$('#Listado').html('<div class=ListadoAnimation><img src={{app.path}}/images/loadingAnimation.gif /></div>');document.getElementById('filter[page{{position}}]').value={{filter.page+1}};" src="{{app.path}}/images/siguiente1.gif" alt="Siguiente"/>
        <input type="image" name="ultima" onClick="$('#Listado').html('<div class=ListadoAnimation><img src={{app.path}}/images/loadingAnimation.gif /></div>');document.getElementById('filter[page{{position}}]').value={{ filter.pages}};" src="{{app.path}}/images/ultimo1.gif" alt="Ultimo"/>

    {% else %}
            <img src="{{app.path}}/images/siguiente0.gif" width="10px" height="12px"/>
            <img src="{{app.path}}/images/ultimo0.gif" width="10px" height="12px"/>
    {% endif %}


    {% if values.listado.formatos %}
        <select name="formatoListado" id="formatolistado{{position}}" size="1" class="select">
        {% for key,title in values.listado.formatos %}
            <option value="{{ key }}">{{ title }}</option>
        {% endfor %}
        </select>
    {%endif%}
            
    {% if position == 'izq'%}
        <div style="float: right;">
        {% if values.permisos['E'] %}
            <img style="float:right; cursor: pointer; margin-left: 3px;" src="{{app.path}}/images/ico_excel.gif" width="18px" height="17px" title="Exportar..." alt="Exportar..."
                 onclick="$('#dialog').dialog('open');"
            />
            {% include "_Emergente/dialogoExportar.html.twig" with {'filter': filter, 'export_types': values.listado.export_types} %}
        {%endif%}
        {% if values.permisos['L'] %}
            <img style="float:right; cursor: pointer;" src="{{app.path}}/images/icon_printgreen.gif" width="37px" height="21px" title="Imprimir..." alt="Imprimir..."
                 onClick="$('#action{{position}}').val('listado');
                          $('#Listado').html('<div class=ListadoAnimation><img src={{app.path}}/images/loadingAnimation.gif /></div>');
                          $('#paginacion{{position}}').submit();"
            />
        {%endif%}
        </div>
    {% endif %}


    {% for key,value in filter.columnsSelected %}
        <input type="hidden" name="filter[columnsSelected][{{key}}]" value="{{ filter.columnsSelected[key] }}"/>
        <input type="hidden" name="filter[valuesSelected][{{key}}]" value="{{ filter.valuesSelected[key] }}"/>
    {% endfor %}

    {% for key,value in filter.flags %}
        <input name="filter[flags][{{key}}]" value="{{value}}" type="hidden" />
    {% endfor %}
    
    <input type="hidden" name="filter[orderBy]" value="{{ filter.orderBy }}"/>
    <input type="hidden" name="filter[page]" id="filter[page{{position}}]" value="{{filter.page}}"/>
    <input type="hidden" name="filter[recordsPerPage]" value="{{ filter.recordsPerPage }}"/>
    <input type="hidden" name="controller" value="{{controller}}" />
    <input type="hidden" name="action" id="action{{position}}" value="list" />
    <input type="hidden" name="exportType" id="exportType{{position}}" value="" />
    </form>
{% endif %}