{# Template list.html.twig for Permisos #}
{# -------------------------------------------------------#}
{% extends 'Permisos/index.html.twig' %}

{% import '_global/macros.html.twig' as macro %}

{% block listado %}
<div class='Listado'>

    <div class="Izquierda" style="width:30%;">
    <div class='Subtitulo'>:: MÓDULOS</div>
    <table width='100%'>
            <tbody class="Cuerpo">

            {% for key,objeto in values.listado.opciones %}
            <form name="opcion{{objeto.Id}}" action="" method="POST">
                <input name="controller" value="Permisos" type="hidden">
                <input name="action" value="listopciones" type="hidden">
                <input name="IDPerfil" value="{{values.linkBy.value}}" type="hidden">
                <input name="IDOpcion" value="{{objeto.IDOpcion}}" type="hidden">

                <tr class="ItemListado">
                    <td align="center"><input type="image" img src="{{app.path}}/images/botonborrar.png" alt="Borrar Opción" onclick="if (Confirma('Desea eliminar la opcion {{objeto.Titulo}}')) {action.value='borraropcion'; submit();} else return(false);"></td>
                    <td>{{objeto.Titulo}}</td>
                    <td align="center"><input type='image' img src='{{app.path}}/images/lupa.png' alt="Editar Opcion"></td>
                </tr>
            </form>
            {% endfor %}
            
            </tbody>
    </table>

    <form name="opcion0" action="" method="post">
        <input name="controller" value="Permisos" type="hidden">
        <input name="action" value="anadiropcion" type="hidden">
        <input name="IDPerfil" value="{{values.linkBy.value}}" type="hidden">
        {{ macro.select('Añadir Módulo','Etiqueta','IDOpcion','IDOpcion',none,none,values.opciones.fetchAll('Titulo'),'Select',none,'submit();') }}
    </form>
    </div>

    {% if values.IDOpcion %}

    <div class="Derecha" style="width:69%; border-left: 1px dotted; padding-left: 3px;">
    <div class='Subtitulo'>:: OPCIONES DE '{{values.opciones.Titulo}}'</div>

    <table width='100%'>

        <form name="botones" action="" method="POST">
            <input name="controller" value="Permisos" type="hidden">
            <input name="action" value="" type="hidden">
            <input name="IDPerfil" value="{{values.linkBy.value}}" type="hidden">
            <input name="IDOpcion" value="{{values.IDOpcion}}" type="hidden">
            <tr style="text-color: black; border-bottom: 1px dotted #525252;">
                <th>&nbsp;</th>
                <th align="center" style="color: black;">Opcion</th>
                <th align="center" style="color: black;">Consulta</th>
                <th align="center" style="color: black;">Creación</th>
                <th align="center" style="color: black;">Borrado</th>
                <th align="center" style="color: black;">Modificación</th>
                <th align="center" style="color: black;"><img src="{{app.path}}/images/imprimir.png" border="0"></th>
                <th align="center" style="color: black;"><img src="{{app.path}}/images/icon_excel.gif" border="0"></th>
                <th style="color: black;">&nbsp;</th>
            </tr>

            <tr>
                <th colspan="2" style="color: black; border-bottom: 1px solid #525252;padding-bottom: 3px;">&nbsp;</th>
                <th align="center" style="color: black; border-bottom: 1px solid #525252;"><input name="bconsultar" type="checkbox" {%if values.bconsultar=='on'%} CHECKED {%endif%} onclick="action.value='bconsultar'; submit();"></th>
                <th align="center" style="color: black; border-bottom: 1px solid #525252;"><input name="binsertar" type="checkbox" {%if values.binsertar=='on'%} CHECKED {%endif%} onclick="action.value='binsertar'; submit();"></th>
                <th align="center" style="color: black; border-bottom: 1px solid #525252;"><input name="bborrar" type="checkbox" {%if values.bborrar=='on'%} CHECKED {%endif%} onclick="action.value='bborrar'; submit();"></th>
                <th align="center" style="color: black; border-bottom: 1px solid #525252;"><input name="bmodificar" type="checkbox" {%if values.bmodificar=='on'%} CHECKED {%endif%} onclick="action.value='bmodificar'; submit();"></th>
                <th align="center" style="color: black; border-bottom: 1px solid #525252;"><input name="blistado" type="checkbox" {%if values.blistado=='on'%} CHECKED {%endif%} onclick="action.value='blistado'; submit();"></th>
                <th align="center" style="color: black; border-bottom: 1px solid #525252;"><input name="bexcel" type="checkbox" {%if values.bexcel=='on'%} CHECKED {%endif%} onclick="action.value='bexcel'; submit();"></th>
                <th align="center" style="color: black; border-bottom: 1px solid #525252;"></th>
            </tr>
        </form>

            <tbody class="Cuerpo">

            {% for key,objeto in values.listado.subopciones %}
            <form name="subopcion{{objeto.Id}}" action="" method="POST">
                <input name="controller" value="Permisos" type="hidden">
                <input name="action" value="borrarsubopcion" type="hidden">
                <input name="Id" value="{{objeto.Id}}" type="hidden">
                <input name="IDPerfil" value="{{values.linkBy.value}}" type="hidden">
                <input name="IDOpcion" value="{{objeto.IDOpcion}}" type="hidden">
                <input name="IDSubopcion" value="{{objeto.IDSubopcion}}" type="hidden">

                <tr class="ItemListado">
                    <td align="center"><input type="image" img src="{{app.path}}/images/botonborrar.png" alt="Borrar Opción" onclick="if (Confirma('Desea eliminar la subopcion {{objeto.Titulo}}')) {action.value='borrarsubopcion'; submit();} else return(false);"></td>
                    <td>{{objeto.Titulo}}</td>
                    <td align="center"><input name="C" type="checkbox" {% if objeto.Permisos['C']=='1'%} CHECKED  {% endif %}></td>
                    <td align="center"><input name="I" type="checkbox" {% if objeto.Permisos['I']=='1'%} CHECKED  {% endif %}></td>
                    <td align="center"><input name="B" type="checkbox" {% if objeto.Permisos['B']=='1'%} CHECKED  {% endif %}></td>
                    <td align="center"><input name="A" type="checkbox" {% if objeto.Permisos['A']=='1'%} CHECKED  {% endif %}></td>
                    <td align="center"><input name="L" type="checkbox" {% if objeto.Permisos['L']=='1'%} CHECKED  {% endif %}></td>
                    <td align="center"><input name="E" type="checkbox" {% if objeto.Permisos['E']=='1'%} CHECKED  {% endif %}></td>
                    <td align="center"><input name="action" type="submit" value="Guardar"></td>
                </tr>
            </form>
            {% endfor %}

            </tbody>
    </table>

    <form name="subopcion0" action="" method="post">
        <input name="controller" value="Permisos" type="hidden">
        <input name="action" value="anadirsubopcion" type="hidden">
        <input name="IDPerfil" value="{{values.linkBy.value}}" type="hidden">
        <input name="IDOpcion" value="{{values.IDOpcion}}" type="hidden">
        {{ macro.select('Añadir Opción','Etiqueta','IDSubopcion','IDSubopcion',none,none,values.subopciones.fetchAll('Titulo',values.IDOpcion),'Select',none,'submit();') }}
    </form>

    </div>

    {% endif %}
</div>

{% endblock %}