<title>.: {{ app.name }} {% block title %} {{ titulo }} {% endblock %}</title>
<link rel="shortcut icon" href="favicon.ico"/>
<meta name="Title" content="{{var_metatag_title_completo}}"/>
<meta name="Description" content="{{var_metatags_description}}"/>
<meta name="Keywords" content="'{{var_metatags_keywords}}"/>
<meta name="Robots" content="all"/>
<meta name="Author" content="'{{var_metatags_author}}"/>
<meta name="resource-type" content="Homepage"/>
<meta name="doc-type" content="Homepage"/>
<meta name="Classification" content="General"/>
<meta name="Distribution" content="Global"/>
<meta http-equiv="Pragma" content="no-cache"/>
<meta http-equiv="Cache-Control" content="no-cache"/>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
<meta name="Revisit-after" content="10 days"/>
<meta name="robots" content="ALL,FOLLOW"/>
<meta name="Googlebot" content="all"/>
<meta name="geo.region" content="ES-GR"/>
<meta name="geo.placename" content="Granada"/>
<meta name="geo.position" content="37.171482;-3.604889"/>
<meta name="ICBM" content="37.171482, -3.604889"/>
<link href="imagenes/favicon.ico" rel="shortcut icon" hreflang="es" />
