<h2 class="center">&Iacute;ndice</h2>
<hr/>
<ul class="listado">
    <li><a href="{{app.path}}/Agentes/help">Agentes/Usuarios</a></li>
    <li><a href="{{app.path}}/Promociones/help">Promociones</a></li>
    <li><a href="{{app.path}}/AlbaranesCab/help">Albaranes de Venta</a></li>
    <li><a href="{{app.path}}/Almacenes/help">Almacenes</a></li>
    <li><a href="{{app.path}}/Agencias/help">Agencias de Transporte</a></li>
    <li><a href="{{app.path}}/Articulos/help">Art&iacute;culos</a></li>
    <li><a href="{{app.path}}/Clientes/help">Clientes</a></li>
    <li><a href="{{app.path}}/Empresas/help">Empresas y Sucursales</a></li>
    <li><a href="{{app.path}}/Permisos/help">Perfiles de Usuario</a></li>
    <li><a href="{{app.path}}/Proveedores/help">Proveedores</a></li>
    <li><a href="{{app.path}}/RutasVentas/help">Rutas de Ventas</a></li>
    <li><a href="{{app.path}}/UnidadesMedida/help">Unidades de medida</a></li>
    <li><a href="{{app.path}}/Zonas/help">Zonas Comerciales y Reparto</a></li>
</ul>
