{# Template list.html.twig for Provincias #}
{# -------------------------------------------------------#}
{% extends 'Provincias/index.html.twig' %}

{% block listado %}
<div class='Listado'>

	{% include '_global/paginacion.html.twig' with {'filter':values.listado.filter,'controller':'Provincias','position':'izq'}%}

        <table width="50%">
            <tr class='Titulos'>
                <td class='Item'>Código</td>
                <td class='Item'>Provincia</td>
                <td class='Item'>Zona de Transporte</td>
            </tr>

            <tbody class='Cuerpo'>
            {% for key,objeto in values.listado.data %}
            <tr class='ItemListado'>
                <td class='Item'><a href="{{app.path}}/Provincias/edit/{{objeto.IDProvincia}}" title="Editar...">{{objeto.Codigo}}</a></td>
                <td class='Item'>{{objeto.Provincia}}</td>
                <td class='Item'>{{objeto.IDZona}}</td>
            </tr>
            {% else %}
            <tr><td colspan='2'>No hay informaci&oacute;n que cumpla esos criterios</td></tr>
            {% endfor %}
            </tbody>
        </table>

	{% include '_global/paginacion.html.twig' with {'filter':values.listado.filter,'controller':'Provincias','position':'der'}%}

</div>
{% endblock %}