{# TEMPLATE Empresas/form.html.twig #}
{# Muestra los campos editables de la entidad        #}

<div class="Izquierda" style="width:49%;">
{{ macro.input('Razón Social','Etiqueta','text','Empresas[RazonSocial]','Empresas_RazonSocial',datos.RazonSocial,'50','CampoTextoLargo') }}
{{ macro.input('Cif','Etiqueta','text','Empresas[Cif]','Empresas_Cif',datos.Cif,'15','CampoCif') }}
{{ macro.input('Dirección','Etiqueta','text','Empresas[Direccion]','Empresas_Direccion',datos.Direccion,'50','CampoTextoLargo') }}
{{ macro.input('Población','Etiqueta','text','Empresas[Poblacion]','Empresas_Poblacion',datos.Poblacion,'30','CampoTextoLargo') }}
{{ macro.select('Provincia','Etiqueta','Empresas[IDProvincia]','Empresas_IDProvincia',none,datos.IDProvincia.IDProvincia,datos.IDProvincia.fetchAll('Provincia'),'Select')}}
{{ macro.input('Código Postal','Etiqueta','text','Empresas[CodigoPostal]','Empresas_CodigoPostal',datos.CodigoPostal,'10','CampoCPostal') }}
{{ macro.input('Teléfono','Etiqueta','text','Empresas[Telefono]','Empresas_Telefono',datos.Telefono,'30','CampoTextoLargo') }}
{{ macro.input('Fax','Etiqueta','text','Empresas[Fax]','Empresas_Fax',datos.Fax,'30','CampoTextoLargo') }}
{{ macro.input('EMail','Etiqueta','text','Empresas[EMail]','Empresas_EMail',datos.EMail,'50','CampoTextoLargo') }}
{{ macro.input('Web','Etiqueta','text','Empresas[Web]','Empresas_Web',datos.Web,'50','CampoTextoLargo') }}
{{ macro.cc('Cta. Corriente','Etiqueta','Clientes',datos.IDBanco,datos.IDOficina,datos.Digito,datos.Cuenta) }}
{{ macro.input('Sufijo Remesas','Etiqueta','text','Empresas[Sufijo]','Empresas_Sufijo',datos.Sufijo,'3','CampoTextoCorto') }}
{{ macro.input('Registro Mercantil','Etiqueta','text','Empresas[RegistroMercantil]','Empresas_RegistroMercantil',datos.RegistroMercantil,'255','CampoTextoLargo') }}
{{ macro.input('N. EORI','Etiqueta','text','Empresas[EORI]','Empresas_EORI',datos.EORI,'50','CampoTextoMedio') }}
</div>

<div class="Derecha" style="width:49%;">

    {% if datos.IDEmpresa %}
    <iframe width="100%" height="470" scrolling="no" style="border:0px;margin-bottom:10px;"
            src="{{app.path}}/Empresas/solapas/{{datos.IDEmpresa}}">
    </iframe>
    {% endif %}

</div>