{# Template list.html.twig for Empresas #}
{# -------------------------------------------------------#}
{% extends 'Empresas/index.html.twig' %}

{% block listado %}
<div class='Listado'>

	{% include '_global/paginacion.html.twig' with {'filter':values.listado.filter,'controller':'Empresas','position':'izq'}%}

        <table width="100%">
            <tr class='Titulos'>
                <td class='Item'>Empresa</td>
                <td class='Item'>Cif</td>
                <td class='Item'>Direcci&oacute;n</td>
                <td class='Item'>Poblacion</td>
                <td class='Item'>Provincia</td>
            </tr>

            <tbody class='Cuerpo'>
            {% for key,objeto in values.listado.data %}
            <tr class='ItemListado'>
                <td class='Item'><a href="{{app.path}}/Empresas/edit/{{objeto.IDEmpresa}}" title="Editar...">{{objeto.RazonSocial}}</a></td>
                <td class='Item'>{{objeto.Cif}}</td>
                <td class='Item'>{{objeto.Direccion}}</td>
                <td class='Item'>{{objeto.Poblacion}}</td>
                <td class='Item'>{{objeto.IDProvincia}}</td>
            </tr>
            {% else %}
            <tr><td colspan='2'>No hay informaci&oacute;n que cumpla esos criterios</td></tr>
            {% endfor %}
            </tbody>
        </table>

	{% include '_global/paginacion.html.twig' with {'filter':values.listado.filter,'controller':'Empresas','position':'der'}%}

</div>
{% endblock %}