{# Template list.html.twig for Submenu #}
{# -------------------------------------------------------#}
{% extends 'Submenu/index.html.twig' %}

{% block listado %}
<div class='Listado'>

	<table width='100%'>
            <tr class='Titulos'>
                <td class='Item'>Orden</td>
                <td class='Item'>Titulo</td>
                <td class='Item'>Controller</td>
                <td class='Item'>Admtor</td>
                <td class='Item'>Emergente</td>
            </tr>

            <tbody class="Cuerpo">
            {% for key,objeto in values.listado.data %}
            <tr class="ItemListado">
                <td><a href="{{app.path}}/SubMenu/edit/{{objeto.Id}}/{{objeto.IDOpcion.IDOpcion}}" title="Editar...">{{objeto.Orden}}</a></td>
                <td>{{objeto.Titulo}}</td>
                <td>{{objeto.Script}}</td>
                <td align="center">{{objeto.Administrador.Descripcion}}</td>
                <td align="center">{{objeto.Emergente.Descripcion}}</td>
            </tr>
            {% endfor %}
            </tbody>
        </table>

</div>
{% endblock %}